%h2.document-header Documents
= link "New Document", to: admin_document_path(@conn, :new), class: "btn btn-primary pull-right"
#documents
  .table-responsive
    %table.table.table-condensed.table-hover.table-striped
      %thead
        %tr.row
          %th.col-xs-9 Name
          %th.col-xs-3 &nbsp;
      %tbody.list
        - for document <- @documents do
          %tr.row
            %td.col-xs-9.preview
              = link document.name, to: admin_document_path(@conn, :show, document)
            %td.col-xs-3.text-right.actions
              = link "Delete", to: admin_document_path(@conn, :delete, document), method: :delete, class: "btn btn-danger btn-xs"
= link "New Document", to: admin_document_path(@conn, :new), class: "btn btn-primary pull-right"
